a {
  color: #000000;
}
p {
  width: 95%;
}
.navButton{
  margin: 15px;
}
.moviesDetails{
  display: flex;
}
.descr {
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.adInfo {
  margin-top: 15px;
  border-top: 1px solid rgb(42, 54, 59);
  border-bottom: 1px solid rgb(42, 54, 59);
}
